
.semasim-icon-menu:before { content: '\e800'; } /* '' */
.semasim-icon-padlock:before { content: '\e801'; } /* '' */
.semasim-icon-paper-plane:before { content: '\e802'; } /* '' */
.semasim-icon-phone-call:before { content: '\e803'; } /* '' */
.semasim-icon-settings:before { content: '\e804'; } /* '' */
.semasim-icon-shopping-cart:before { content: '\e805'; } /* '' */
.semasim-icon-shopping-cartok:before { content: '\e806'; } /* '' */
.semasim-icon-sim:before { content: '\e807'; } /* '' */
.semasim-icon-telephone:before { content: '\e808'; } /* '' */
.semasim-icon-telephonee:before { content: '\e809'; } /* '' */
.semasim-icon-telephonein:before { content: '\e80a'; } /* '' */
.semasim-icon-telephonemiss:before { content: '\e80b'; } /* '' */
.semasim-icon-truck:before { content: '\e80c'; } /* '' */
.semasim-icon-user:before { content: '\e80e'; } /* '' */
.semasim-icon-userminus:before { content: '\e80f'; } /* '' */
.semasim-icon-usermod:before { content: '\e810'; } /* '' */
.semasim-icon-userplus:before { content: '\e811'; } /* '' */
.semasim-icon-account:before { content: '\e812'; } /* '' */
.semasim-icon-cancel:before { content: '\e814'; } /* '' */
.semasim-icon-cancelk:before { content: '\e815'; } /* '' */
.semasim-icon-check-mark:before { content: '\e818'; } /* '' */
.semasim-icon-computer:before { content: '\e81a'; } /* '' */
.semasim-icon-dualsim:before { content: '\e81c'; } /* '' */
.semasim-icon-edit:before { content: '\e81d'; } /* '' */
.semasim-icon-envelope:before { content: '\e81e'; } /* '' */
.semasim-icon-garbage:before { content: '\e81f'; } /* '' */
.semasim-icon-group:before { content: '\e820'; } /* '' */
.semasim-icon-list:before { content: '\e821'; } /* '' */
.semasim-icon-speech-bubble:before { content: '\e822'; } /* '' */
.semasim-icon-speech-bubblep:before { content: '\e823'; } /* '' */
.semasim-icon-tap:before { content: '\e824'; } /* '' */
.semasim-icon-power-button:before { content: '\e825'; } /* '' */